footer.footer
	.footer-top
		.footer-top-left
			.footer-top-left-top
				a.footer-top-left-top__logo(href="index.html")
					img(src="assets/images/logo.svg", alt="")
				.footer-top-left-top-wrap
					a.footer-top-left-top__link(href="#") О компании
					a.footer-top-left-top__link(href="#") Контакты
					a.footer-top-left-top__link(href="#") Партнёры
					a.footer-top-left-top__link(href="#") Новости
					a.footer-top-left-top__link(href="#") СМИ о нас
			.footer-top-left-bot
				.footer-top-left-bot-section
					.footer-top-left-bot-section__title Купить участок
					.footer-top-left-bot-section-content
						a.footer-top-left-bot-section-content__link(href="#") Купить дом 150 м2
						a.footer-top-left-bot-section-content__link(href="#") Купить дом 200 м2
						a.footer-top-left-bot-section-content__link(href="#") Купить дом 250 м2
						a.footer-top-left-bot-section-content__link(href="#") Купить дом 300 м2
						a.footer-top-left-bot-section-content__link(href="#") Купить дом 350 м2
						a.footer-top-left-bot-section-content__link(href="#") Купить дом с участком
						a.footer-top-left-bot-section-content__link(href="#") Купить дом
				.footer-top-left-bot-section
					.footer-top-left-bot-section__title Вопросы
					.footer-top-left-bot-section-content
						a.footer-top-left-bot-section-content__link(href="#") Как купить дом?
						a.footer-top-left-bot-section-content__link(href="#") Что нужно знать при покупке дома?
						a.footer-top-left-bot-section-content__link(href="#") Где посмотреть дома?
						a.footer-top-left-bot-section-content__link(href="#") Когда посмотреть дома?
						a.footer-top-left-bot-section-content__link(href="#") Зачем посмотреть дома?
						a.footer-top-left-bot-section-content__link(href="#") Почему посмотреть дома?
				.footer-top-left-bot-section
					.footer-top-left-bot-section__title Коммуникации
					.footer-top-left-bot-section-content
						a.footer-top-left-bot-section-content__link(href="#") Купить дом с бассейном
						a.footer-top-left-bot-section-content__link(href="#") Купить дом у горки
						a.footer-top-left-bot-section-content__link(href="#") Купить дом у воды
				.footer-top-left-bot-section
					.footer-top-left-bot-section__title Местоположение
					.footer-top-left-bot-section-content
						a.footer-top-left-bot-section-content__link(href="#") Купить дом в Рушкино
						a.footer-top-left-bot-section-content__link(href="#") Купить дом в Колотушкино
						a.footer-top-left-bot-section-content__link(href="#") Купить дом в Мушкино
						a.footer-top-left-bot-section-content__link(href="#") Купить дом в Душкино
						a.footer-top-left-bot-section-content__link(href="#") Купить дом в Пушкино
						a.footer-top-left-bot-section-content__link(href="#") Купить квартиру в Бешкино
						a.footer-top-left-bot-section-content__link(href="#") Купить дом в Ашкино
		.footer-top-right
			a.footer-top-right-top__number(href="tel:88129343454") +7 (812) 934-34-54
			.footer-top-right-top-btn
				a.footer-top-right-top-btn__link(data-fancybox="" data-options='{"src": "#popup-form", "touch": false}' href="javascript:;") Перезвоните мне
			a.footer-top-right-mid(href="#")
				img(src="assets/images/search.svg", alt="")
				span Найти недвижимость
			.footer-top-right-bot
				.footer-top-right-bot__title Мы в социальных сетях
				.footer-top-right-bot-socials
						a(href="#")
							img(src="assets/images/socials-vk.svg", alt="")
						a(href="#")
							img(src="assets/images/socials-inst.svg", alt="")
						a(href="#")
							img(src="assets/images/socials-fb.svg", alt="")
	.footer-wrap
		.footer-bot
			.footer-bot__item © 2017-2018. Все права защищены
			a.footer-bot__item(href="#") Пользовательское соглашение
			.footer-bot__item Предложение не является публичной офертой согласно п.1 ст. 437 ГК РФ
			.footer-bot__item Разработка — <a href="https://ra-studio.ru/" target="_blank">Ra-studio</a>