header.header <!-- div>если требуется белый хедер - добавить класс white</div-->
	.header-top
		a.header-top__logo(href="index.html")
		.header-top-menu
			button.hamburger.hamburger--collapse(type="button")
				span.hamburger-box
					span.hamburger-inner
			span Меню
		.header-top-links
			a.header-top-links__item(href="#") Все объекты
			a.header-top-links__item(href="#") Избранное
		.header-top-info
			a(href="tel:88129343454") +7 (812) 934-34-54
			span пн-вс с 9<sup>00</sup> до 21<sup>00</sup>
		.header-top-btn
			a.header-top-btn__link(data-fancybox="" data-options='{"src": "#popup-form", "touch": false}' href="javascript:;") Записаться на просмотр
	.header-menu
		.header-menu-wrap
			.header-menu-top
				a.header-menu-top__link(href="#") Все объекты
				a.header-menu-top__link(href="#") Избранное
			img(src="assets/images/headerMenu-arr.svg", alt="")
			.header-menu-mid
				.header-menu-item
					a.header-menu-item__link(href="#") Новости
					a.header-menu-item__link(href="#") Акции
					a.header-menu-item__link(href="#") О компании
					a.header-menu-item__link(href="#") Контакты
					a.header-menu-item__link(href="#") Как купить дом
					a.header-menu-item__link(href="#") Что нужно знать при покупке
					a.header-menu-item__link(href="#") Способы оплаты
					a.header-menu-item__link(href="#") Где посмотреть
					a.header-menu-item__link(href="#") СМИ о нас
					a.header-menu-item__link(href="#") Партнеры
					a.header-menu-item__link(href="#") Для инвесторов
				.header-menu-socials-wrap
					a.header-menu-item-socials(href="#")
						img(src="assets/images/socials-vk.svg", alt="")
					a.header-menu-item-socials(href="#")
						img(src="assets/images/socials-inst.svg", alt="")
					a.header-menu-item-socials(href="#")
						img(src="assets/images/socials-fb.svg", alt="")
			img(src="assets/images/headerMenu-arr.svg", alt="")
			.header-menu-bot
				.header-menu-bot-info
					.header-menu-bot-info-wrap
						a(href="tel:88129343454") +7 (812) 934-34-54
						span пн-вс с 9<sup>00</sup> до 21<sup>00</sup>
				.header-menu-bot-btn
					a.header-menu-bot-btn__link(data-fancybox="" data-options='{"src": "#popup-form", "touch": false}' href="javascript:;") Записаться на просмотр
				.header-menu-bot-socials
					a.header-menu-bot-socials__item(href="#")
						img(src="assets/images/socials-vk.svg", alt="")
					a.header-menu-bot-socials__item(href="#")
						img(src="assets/images/socials-inst.svg", alt="")
					a.header-menu-bot-socials__item(href="#")
						img(src="assets/images/socials-fb.svg", alt="")
.breadcrumbs <!-- div>на странице дома добавить класс breadcrumbs-abs</div-->
	a.breadcrumbs__link(href="/") Главная
	<svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
		<path d="M1 1L4 4L1 7" stroke="white" stroke-width="0.75"/>
	</svg>
	.breadcrumbs__link Дом с пирсом