extends ../template

block variables
	- var title = '505'

block content
	.server
		img(src="assets/images/505.jpg", alt="")
		.server-content
			h1.server-content__title 505
			.server-content__subtitle Ведутся технические работы
			.server-content__text Пожалуйста возвращайтесь позднее