.mobile{
	display: none;
}
.main{
	font-family: 'Roboto Condensed', sans-serif;
	&-banner{
		margin-top: -100px;
		position: relative;
		@include pad(bottom, cyan);
		&-slider{
			height: calc(100vh - 130px);
			overflow: hidden;
			opacity: 0;
			transition: 0.3s;
			&.slick-initialized{
				opacity: 1;
			}
			&-item{
				height: calc(100vh - 130px);
			}
			.slick-dots{
				width: auto;
				bottom: auto;
				top: 50%;
				display: flex;
				flex-direction: column;
				transform: translateY(-50%);
				right: 150px;
				li{
					width: 8px;
					height: 8px;
					background: #C3C3C3;
					margin: 11px 0;
					&.slick-active{
						background: #D9C892;
					}
					button{
						display: none;
					}
				}
			}
			
		}
		&-current{
			position: absolute;
			top: calc(50% - 65px);
			right: 139px;
			span{
				font-size: 24px;
			}
		}
		&-content{
			position: absolute;
			top: 30%;
			left: 10%;
			max-width: 550px;
			&__subtitle{
				font-size: 18px;
				@include pad(bottom, red);
				text-transform: uppercase;
			}
			&__title{
				font-size: 48px;
				font-weight: normal;
				margin: 0;
				line-height: 48px;
				text-transform: uppercase;
				@include pad(bottom, grey);
			}
			&-btn{
				display: inline-block;
				&__link{
					text-transform: initial;
					width: 186px;
					height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #fff;
					font-size: 18px;
					transition: 0.3s;
					&:after{
						content: '';
						display: inline-block;
						width: 5px;
						height: 10px;
						background: url('../images/btn-arr.svg') center no-repeat;
						margin-left: 8px;
						margin-top: 2px;
					}
				}
				@media screen and (min-width: 1200px){
					&:hover .main-banner-content-btn__link{
						transform: translateY(-3px);
						box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
					}
					&:active .main-banner-content-btn__link{
						transform: translateY(0);
						box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
	}
	&-tabs{
		max-width: 1160px;
		margin: 0 auto 100px;
		&-navigation{
			display: flex;
			align-items: flex-end;
			position: relative;
			height: 26px;
			@include pad(bottom, red);
			&:before{
				content: '';
				width: 39px;
				height: 3px;
				background: #D9C892;
				position: absolute;
				left: -60px;
				top: 50%;
				transform: translateY(-50%);
			}
			&__item{
				font-weight: 300;
				font-size: 24px;
				text-transform: uppercase;
				color: #6F8090;
				margin-right: 80px;
				line-height: 20px;
				transition: 0.3s;
				&.selected{
					font-weight: normal;
					font-size: 36px;
					color: #000000;
					transition: 0.3s;
				}
				@media screen and (min-width: 1365px){
					&:hover{
						color: #1E1E1E;
					}
				}
			}
		}
		&-tab{
			max-height: 404px;
			overflow: hidden;
			display: none;
			&#mainTab1{
				display: block;
			}
			&-slider{
				max-width: 1045px;
				margin: 0 -10px;
				opacity: 0;
				transition: 0.3s;
				&.slick-initialized{
					opacity: 1;
				}
				.slick-list{
					padding-top: 4px;
				}
				.slick-arrow.slick-disabled{
					display: none!important;
				}
				.slick-arrow{
					width: 30px;
					height: 60px;
					top: calc(50% - 31px);
					background: url('../images/main-tabs-arr-color.svg') center no-repeat;
					&:before{
						display: none;
					}
				}
				.slick-next {
					right: -48px;
				}
				.slick-prev {
					left: -40px;
					transform: rotate(180deg) translate(0, 50%);
				}
				&-wrap{
					margin: 0 10px;
				}
				&-item{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					img{
						width: 100%;
						height: auto;
						transition: .5s;
						@include pad(bottom, red);
					}
					&__title{
						opacity: 0;
						font-weight: 300;
						font-size: 14px;
						line-height: 21px;
						text-transform: uppercase;
						color: #1B1B24;
						transition: .5s;
						transition-delay: .2s;
						animation: tadaa 0.3s normal forwards ease-in-out;
						animation-iteration-count: 1;
						animation-delay: 0.1s;
					}
					@media screen and (min-width: 1365px){
						&:hover{
							img{
								transform: translateY(-4px);
								transition: .5s;
								box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
							}
							.main-tabs-tab-slider-item__title{
								transform: translateY(-4px);
								transition: .5s;
    						transition-delay: .2s;
							}
						} 
					}
				}
			}
		}
	}
	&-object{
		max-width: 1160px;
		margin: 0 auto 100px;
		position: relative;
		max-height: 500px;
		&__title{
			text-transform: uppercase;
			font-size: 36px;
			position: relative;
			@include pad(bottom, red);
			&:before{
				content: '';
				width: 39px;
				height: 3px;
				background: #D9C892;
				position: absolute;
				left: -60px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&__subtitle{
			font-weight: 300;
			font-size: 14px;
			text-transform: uppercase;
			@include pad(bottom, grey);
		}
		&-filter{
			margin: 0 -10px;
			@include pad(bottom, blue);
			input{
				display: none;
			}
			label{
				font-weight: 300;
				font-size: 14px;
				color: #000000;
				margin-right: 55px;
				padding: 10px;
				cursor: pointer;
				transition: 0.3s;
			}
			input:checked + label{
				font-weight: normal;
				font-size: 16px;
				transition: 0.3s;
			}
			select{
				display: none;
			}
		}
		&-slider{
			max-width: 100%;
			opacity: 0;
			transition: 0.3s;
			transition-delay: 0.6s;
			&.slick-initialized{
				opacity: 1;
			} 
			.slick-list{
				overflow: visible;
			}
			.slick-arrow{
				z-index: 2;
				width: 30px;
				height: 60px;
				background: url('../images/main-tabs-arr-white.svg') center no-repeat;
				&:before{
					display: none;
				}
			}
			.slick-next {
				right: -78px;
			}
			.slick-prev {
				left: -80px;
				transform: rotate(180deg) translate(0, 50%);
			}
			&-wrap{
				width: 455px;
				height: 335px;
				margin: 0 10px;
				position: relative;
				&.slick-active .main-object-slider-overlay{
					animation: tadaa-reverse 0.3s normal forwards ease-in-out;
					animation-iteration-count: 1;
					animation-delay: 0.5s;
				}
				&.slick-active .main-object-slider-item-top{
					transform: translate(0);
					transition: 0.5s;
					transition-delay: 0.6s;
				}
				&.slick-active .main-object-slider-item-bot{
					transform: translate(0);
					transition: 0.5s;
					transition-delay: 0.6s;
				}
				&.slick-active .main-object-slider-item{
					position: relative;
					z-index: 2;
				}
			}
			&-overlay{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.7);
			}
			&-item{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				overflow: hidden;
				&-top{
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 20px;
					color: #fff;
					transform: translateY(-100%);
					transition: 0.2s;
					&__price{
						font-size: 18px;
					}
					&-wrap{
						display: flex;
						align-items: center;
						font-size: 14px;
						svg{
							margin-right: 10px;
						}
					}
				}
				&-bot{
					display: flex;
					background: #fff;
					transition: 0.2s;
					transform: translateY(100%);
					&-item{
						padding: 17px 0;
						width: 25%;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: 0.3s;
						font-size: 12px;
						font-weight: 300;
						svg{
							margin-right: 8px;
						}
						span{
							margin-right: 3px;
						}
						&:first-child{
							background: #D9C892;
							font-size: 14px;
							@media screen and (min-width: 1200px){
								&:hover{
									background: #E5C253;
								}
								&:active{
									background: #E5C253;
									box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
								}
							}
						}
					}
				}
			}
		}
	}
	&-about{
		display: flex;
		justify-content: center;
		max-width: 960px;
		margin: 0 auto 100px;
		padding-top: 30px;
		&-left{
			margin-top: -30px;
		}
		&-right{
			display: flex;
			flex-direction: column;
			margin-left: 20px;
			&__subtitle{
				font-weight: 300;
				font-size: 18px;
				@include pad(bottom, blue);
				line-height: 20px;
				text-transform: uppercase;
			}
			&__title{
				line-height: 27px;
				font-weight: normal;
				margin: 0;
				font-size: 36px;
				text-transform: uppercase;
				@include pad(bottom, grey);
			}
			&__text{
				font-weight: 300;
				font-size: 18px;
				line-height: 25px;
				@include pad(bottom, blue);
			}
			&-items{
				display: flex;
				justify-content: space-between;
				margin-bottom: 23px;
				&-item{
					font-family: 'Open Sans Condensed', sans-serif;
					display: flex;
					flex-direction: column;
					align-items: center;
					svg{
						height: 27px;
					}
					&__title{
						@include pad(top, blue);
						white-space: nowrap;
						font-weight: 300;
						font-size: 12px;
					}
				}
			}
			&-btn{
				margin-top: auto;
				align-self: flex-start;
				&__link{
					width: 158px;
					height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #E2C773;
					font-weight: 300;
					font-size: 18px;
					
					transition: 0.3s;
				}
				@media screen and (min-width: 1200px){
					&:hover .main-about-right-btn__link{
						transform: translateY(-3px);
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
					&:active .main-about-right-btn__link{
						transform: translateY(0);
						box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
	}
	&-inst{
		margin: 0 auto 100px;
		position: relative;
		&-wrapper{
			position: relative;
			margin: 0 20px;
		}
		&-wrap{
			margin: 0 auto;
			max-width: 1160px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			@include pad(bottom, grey);
		}
		&-btn{
			position: absolute;
			right: 0;
			&__link{
				width: 103.19px;
				height: 26px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: linear-gradient(-104deg, #E09B3D, #C74C4D, #C21975, #7024C4);
				font-size: 12px;
				color: #FFFFFF;
				transition: 0.3s;
			}
			@media screen and (min-width: 1200px){
				&:hover .main-inst-btn__link{
					transform: translateY(-2px);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				&:active .main-inst-btn__link{
					transform: translateY(0);
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
		}
		&__title{
			text-transform: uppercase;
			font-size: 36px;
			position: relative;
			&:before{
				content: '';
				width: 39px;
				height: 3px;
				background: #D9C892;
				position: absolute;
				left: -60px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.instafeed{
			padding: 0 10px;
			height: 488px;
			font-family: 'Lato', sans-serif;
			opacity: 0;
			transition: 0.3s;
			transition-delay: 0.6s;
			&.slick-initialized{
				opacity: 1;
			} 
			&-item{
				margin: 0 10px;
				border: 2px solid rgba(217, 200, 146, 0.3);
				position: relative;
				.border-1, .border-3 {
					height: 2px;
				}
				.border-2, .border-4 {
					width: 2px;
				}
				.border-1, .border-2, .border-3, .border-4 {
					background-color: #ecb86c;
					position: absolute;
					z-index: 1;
				}
				.border-1 {
					left: -2px;
					top: -2px;
					width: 0;
					transition: all 0.2s linear;
					transition-delay: 0.6s;
				}
				.border-2 {
					right: -2px;
					top: -2px;
					height: 0;
					transition: all 0.2s linear;
					transition-delay: 0.4s;
				}
				.border-3 {
					right: -2px;
					bottom: -2px;
					width: 0;
					transition: all 0.2s linear;
					transition-delay: 0.2s;
				}
				.border-4 {
					left: -2px;
					bottom: -2px;
					height: 0;
					transition: all 0.2s linear;
					transition-delay: 0s;
				}
				@media screen and (min-width: 1200px){
					&:hover{
						.border-1 {
							width: calc(100% + 2px);
							transition: all 0.2s linear;
							transition-delay: 0s;
						}
						.border-2 {
							height: calc(100% + 2px);
							transition: all 0.2s linear;
							transition-delay: 0.2s;
						}
						.border-3 {
							width: calc(100% + 2px);
							transition: all 0.2s linear;
							transition-delay: 0.4s;
						}
						.border-4 {
							height: calc(100% + 2px);
							transition: all 0.2s linear;
							transition-delay: 0.6s;
						}
					}
				}
				&-top{
					height: 60px;
					display: flex;
					align-items: center;
					padding-left: 5px;
					padding-right: 20px;
					&__logo{
						width: 30px;
						height: 30px;
						background: url('../images/inst-logo.png') center no-repeat;
						background-size: contain;
						margin-right: 8px;
					}
					&-info{
						&__title{
							font-weight: 900;
							font-size: 12px;
							color: #262626;
							margin-bottom: 5px;
						}
						&__loc{
							font-size: 9px;
							color: #262626;
						}
					}
					&__more{
						margin-left: auto;
						width: 12px;
						height: 3px;
						background: url('../images/inst-more.svg') center no-repeat;
						background-size: contain;
					}
				}
				&-photo{
					width: 100%;
					height: 330px;
					img{
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
				&-bot{
					padding: 12px 14px 20px 12px;
					&-top{
						display: flex;
						justify-content: flex-start;
						margin-bottom: 10px;
						div{
							width: 22px;
							height: 20px;
						}
						&-like{
							background: url('../images/inst-like.svg') center no-repeat;
							background-size: contain;
							margin-right: 12px;
						}
						&-comment{
							background: url('../images/inst-comment.svg') center no-repeat;
							background-size: contain;
							margin-right: 12px;
						}
						&-share{
							background: url('../images/inst-share.svg') center no-repeat;
							background-size: contain;
						}
						&-fav{
							background: url('../images/inst-fav.svg') center no-repeat;
							background-size: contain;
							margin-left: auto;
						}
					}
					&-likes{
						font-weight: bold;
						font-size: 12px;
						color: #262626;
						margin-bottom: 10px;
					}
					&-descr{
						font-size: 12px;
						color: #262626;
						height: 13px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						span{
							font-weight: 900;
							margin-right: 5px;
						}
					}
					&-dateHidden{
						display: none;
					}
					&-date{
						margin-top: 10px;
						font-size: 9px;
						text-transform: uppercase;
						color: #999899;
					}
				}
			}
		}
	}
	&-form{
		font-family: 'Roboto Condensed', sans-serif;
		max-width: 1160px;
		margin: 0 auto 100px;
		position: relative;
		&__title{
			text-transform: uppercase;
			font-size: 36px;
			position: relative;
			@include pad(bottom, grey);
			&:before{
				content: '';
				width: 39px;
				height: 3px;
				background: #D9C892;
				position: absolute;
				left: -60px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&-content{
			max-width: 960px;
			margin: 0 auto;
			display: flex;
			&-left{
				margin-bottom: -30px;
				&-wrap{
					width: 497px;
					height: 423px;
					display: none;
				}
			}
			&-right{
				margin-left: 20px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				&__title{
					font-size: 24px;
					@include pad(bottom, blue);
				}
				&-pair{
					display: flex;
					flex-direction: column;
				}
				&-tabs{
					&-navigation{
						margin-bottom: 10px;
						label{
							margin-right: 20px;
							color: #B1B1B1;
							cursor: pointer;
							
							&.selected{
								color: #000;
							}
						}
					}
					&-tab{
						visibility: hidden;
					}
					&-tab#inputEmail{
						display: none;
					}
				}
				label{
					font-size: 14px;
					@include pad(bottom, yellow);
				}
				input{
					display: block;
					width: 100%;
					max-width: 335px;
					background: #FFFFFF;
					border: 1px solid #B1B1B1;
					font-weight: 300;
					font-size: 14px;
					color: #000000;
					padding: 10px;
					@include pad(bottom, blue);
					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						color: #B0B0B0;
						opacity: 1; /* Firefox */
					}
				}
				span{
					font-weight: 300;
					font-size: 14px;
					@include pad(bottom, blue);
					a{
						text-decoration: underline;
					}
				}
				&-btn{
					align-self: flex-start;
					&__link{
						width: 152px;
						height: 42px;
						display: flex;
						justify-content: center;
						align-items: center;
						background: #E2C773;
						font-size: 14px;
						border: none;
						transition: 0.3s;
					}
					@media screen and (min-width: 1200px){
						&:hover .main-form-content-right-btn__link{
							transform: translateY(-3px);
							box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
						}
						&:active .main-form-content-right-btn__link{
							transform: translateY(0);
							box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
						}
					}
				}
			}
		}
	}
}

@include w1024{
	.main{
		&-banner{
			margin-bottom: 80px;
			&-current{
				right: 109px;
			}
			&-content{
				&__title{
					font-size: 36px;
				}
				&__subtitle{
					font-size: 16px;
				}
			}
			&-slider{
				.slick-dots{
					right: 120px;
				}
			}
		}
		&-tabs{
			padding: 0 20px;
			margin-bottom: 80px;
			&-navigation{
				padding-left: 40px;
				&:before{
					width: 30px;
					height: 2px;
					left: 0;
				}
				&__item{
					font-size: 21px;
					margin-right: 50px;
					&.selected{
						font-size: 30px;
					}
				}
			}
		}
		&-object{
			padding: 0 20px;
			margin-bottom: 50px;
			&__title{
				font-size: 30px;
				padding-left: 40px;
				&:before{
					width: 30px;
					height: 2px;
					left: 0;
				}
			}
			&__subtitle{
				padding-left: 40px;
			}
			&-filter{
				padding-left: 40px;
				label{
					margin-right: 50px;
				}
			}
			&-slider{
				padding-left: 60px;
			}
		}
		&-about{
			max-width: none;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 80px;
			&-right{
				&__title{
					font-size: 30px;
				}
			}
		}
		&-inst{
			margin-bottom: 80px;
			.instafeed-item-photo{
				height: 305px;
			}
			&-wrapper{
				margin: 0;
				padding: 0 20px;
			}
			&__title{
				padding-left: 40px;
				font-size: 30px;
				&:before{
					width: 30px;
					height: 2px;
					left: 0;
				}
			}
			&-btn{
				right: 20px;
			}
		}
		&-form{
			margin: 0 auto 80px;
			padding-left: 20px;
			padding-right: 20px;
			&__title{
				padding-left: 40px;
				font-size: 30px;
				&:before{
					width: 30px;
					height: 2px;
					left: 0;
				}
			}
			&-content{
				max-width: none;
				justify-content: center;
				&-right{
					&__title{
						font-size: 21px;
					}
				}
			}
		}
	}
}

@include w768{
	.main{
		&-banner{
			&-content{
				max-width: 250px;
				&__title{
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 30px;
				}
				&__subtitle{
					font-size: 14px;
				}
				&-btn{
					&__link{
						width: 142px;
						height: 35px;
						font-size: 14px;
					}
				}
			}
			&-slider{
				height: 425px;
				&-item{
					height: 425px;
				}
			}
		}
		&-tabs{
			&-navigation{
				padding-left: 30px;
				&:before{
					width: 21px;
				}
				&__item{
					font-size: 18px;
					&.selected{
						font-size: 24px;
					}
				}
			}
		}
		&-object{
			&__title{
				font-size: 24px;
				padding-left: 30px;
				&:before{
					width: 21px;
				}
			}
			&__subtitle{
				padding-left: 30px;
			}
			&-filter{
				padding-left: 30px;
			}
			&-slider{
				padding-left: 60px;
				&-wrap{
					width: 355px;
					height: 265px;
				}
			}
		}
		&-about{
			&-left{
				margin-top: -21px;
				img{
					width: 354px;
				}
			}
			&-right{
				&__title{
					font-size: 24px;
					line-height: 22px;
					margin-bottom: 25px;
				}
				&__subtitle{
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 25px;
				}
				&__text{
					font-size: 14px;
					margin-bottom: 25px;
					line-height: 20px;
				}
				&-items{
					margin-bottom: 16px;
					&-item{
						&__title{
							font-size: 10px;
							margin-top: 15px;
						}
					}
				}
				&-btn{
					margin-bottom: 0;
					&__link{
						width: 122px;
						height: 35px;
						font-size: 14px;
					}
				}
			}
		}
		&-inst{
			.instafeed{
				height: auto;
				&-item-photo{
					height: 225px;
				}
			}
			&__title{
				padding-left: 30px;
				font-size: 24px;
				&:before{
					width: 21px;
				}
			}
		}
		&-form{
			&__title{
				padding-left: 30px;
				font-size: 24px;
				margin-bottom: 70px;
				&:before{
					width: 21px;
				}
			}
			&-content{
				
				&-left{
					margin-top: -35px;
					img{
						width: 354px;
					}
					&-wrap{
						width: 354px;
						height: 302px;
					}
				}
				&-right{
					&__title{
						font-size: 18px;
						margin-bottom: 20px;
					}
					label{
						font-size: 12px;
					}
					input{
						font-size: 12px;
						padding: 8px;
						max-width: 295px;
						margin-bottom: 22px;
					}
					span{
						font-size: 12px;
						margin-bottom: 22px;
					}
					&-btn{
						&__link{
							width: 152px;
							height: 35px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@include w480{
	.desctop{
		display: none;
	}
	.mobile{
		display: block;
	}
	.main{
		&-banner{
			margin-bottom: 40px;
			&-current{
				right: 50%;
				transform: translateX(50%);
				top: auto;
				bottom: 25px;
			}
			&-slider{
				height: 488px;
				.slick-dots{
					flex-direction: row;
					right: 50%;
					transform: translateX(50%);
					top: auto;
					bottom: 10px;
					li{
						margin: 0 11px;
					}
				}
				&-item{
					height: 488px;
				}
			}
		}
		&-tabs{
			margin-bottom: 60px;
			&-navigation{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
		}
		&-object{
			&__title{
				font-size: 24px;
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			&__subtitle{
				padding-left: 0;
				margin-bottom: 20px;
			}
			&-filter{
				padding-left: 0;
				margin-bottom: 20px;
				> label{
					display: none;
				}
				.SumoSelect{
					width: 180px;
					margin: 0 auto;
					display: block;
					&.open>.CaptionCont, 
					&:focus>.CaptionCont,
					&:hover>.CaptionCont{
						box-shadow: none;
						border-color: #E2C773;
					}
					.CaptionCont{
						text-align: center;
						border: 1px solid #E2C773;
						width: 180px;
						height: 30px;
						font-size: 12px;
						text-transform: uppercase;
						span{
							padding-right: 0;
							font-style: normal;
							display: inline;
						}
						label{
							margin-right: 0;
							position: relative;
							i{
								background-image: url('../images/select-arr.svg');
							}
						}
					}
					&>.optWrapper{
						top: 30px;
						box-shadow: none;
						border: 1px solid #E2C773;
						border-top: none;
						border-radius: 0;
						label{
							margin-right: 0;
							margin-left: 15px;
						}
						>.options li.opt{
							padding: 0px 8px;
							border-bottom: none;
							&:hover{
								background-color: #fff;
							}
							span{
								margin-left: -5px;
								i{
									display: inline-block;
									width: 12px;
									height: 12px;
									margin-right: 10px;
									border: 1px solid #000000;
									border-radius: 0;
									box-shadow: none;
									transition: 0.3s;
								}
							}
							&.selected{
								span{
									i{
										border: 1px solid #000000;
										background: #E09B3D;
									}
								}
							}
						}
					}
				}
			}
			&-slider{
				padding-left: 40px;
				&-item{
					&-bot{
						&-item{
							font-size: 10px;
							&:first-child{
								font-size: 12px;
							}
						}
					}
				}
			}
		}
		&-about{
			padding: 0 20px;
			flex-direction: column-reverse;
			position: relative;
			margin-bottom: 195px;
			&-left{
				margin-top: 0;
				img{
					margin: 0 auto;
					max-width: 100%;
				}
			}
			&-right{
				margin-left: 0;
				&__title{
					margin-bottom: 30px;
				}
				&__subtitle{
					margin-bottom: 20px;
				}
				&__text{
					margin-bottom: 20px;
				}
				&-wrap{
					position: absolute;
					top: calc(100% + 30px);
					width: calc(100% - 40px);
				}
				&-items{
					margin-bottom: 30px;
				}
				&-btn{
					&__link{
						margin: 0 auto;
					}
				}
			}
		}
		&-inst{
			margin-bottom: 95px;
			&-wrapper{
				position: initial;
			}
			&-wrap{
				margin-bottom: 20px;
			}
			&__title{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			&-btn{
				top: calc(100% + 20px);
				right: 50%;
				transform: translateX(50%);
			}
		}
		&-form{
			margin-bottom: 40px;
			&__title{
				padding-left: 0;
				text-align: center;
				margin-bottom: 20px;
				&:before{
					display: none;
				}
			}
			&-content{
				&-left{
					display: none;
				}
				&-right{
					width: 100%;
					margin-left: 0;
					&__title{
						margin-bottom: 30px;
						text-align: center;
					}
					&-pair,
					&-tabs{
						width: 300px;
						margin: 0 auto;
					}
					input{
						max-width: none;
						width: 100%;
						margin-bottom: 10px;
					}
					span{
						text-align: center;
						margin-top: 10px;
					}
					&-btn{
						align-self: auto;
						&__link{
							width: 152px;
							height: 35px;
							font-size: 14px;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
}

@include w320{
	.main{
		&-banner{
			&-content{
				top: 135px;
    		left: 10px;
				&__subtitle{
					font-size: 12px;
				}
			}
		}
		&-tabs{
			padding: 0 10px;
			&-navigation{
				&__item{
					font-size: 14px;
					margin-right: 30px;
				}
			}
		}
		&-object{
			padding: 0 10px;
			&__subtitle{
				font-size: 12px;
			}
			&-slider{
				padding-left: 0;
				margin-left: -10px;
				max-width: none;
				width: calc(100% + 20px);
				.slick-arrow{
					width: 40px;
					height: calc(100% - 56px);
					background-size: contain;
					top: calc(50% - 27px);
				}
				.slick-prev{
					left: 0;
					background: url('../images/object-mobile-arrPrev.svg') center no-repeat;
				}
				.slick-next{
					right: 0;
					background: url('../images/object-mobile-arrNext.svg') center no-repeat;
				}
				&-wrap{
					width: auto;
					height: 236px;
					margin: 0;
				}
				&-item{
					&-top{
						padding: 10px;
						svg{
							width: 11px;
							height: 15px;
							margin-right: 5px;
						}
						&__price{
							font-size: 14px;
						}
						&__location{
							font-size: 12px;
						}
					}
					&-bot{
						&-item{
							padding: 16px 0;
							svg{
								width: 12px;
								height: 10px;
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
		&-about{
			padding: 0 10px;
			&-right{
				&-wrap{
					position: absolute;
					top: calc(100% + 30px);
					width: calc(100% - 20px);
				}
				&-items{
					margin-bottom: 30px;
				}
				&-btn{
					&__link{
						width: 130px;
						height: 30px;
						margin: 0 auto;
					}
				}
			}
		}
		&-inst{
			&-wrapper{
				padding: 0 10px;
			}
			.instafeed{
				padding: 0;
				min-height: 407px;
				.slick-arrow{
					width: 40px;
					height: 100%;
					background-size: contain;
					top: 50%;
					&:before{
						display: none;
					}
				}
				.slick-prev{
					z-index: 2;
					left: 10px;
					background: url('../images/object-mobile-arrPrev.svg') center no-repeat;
					transform: rotate(180deg) translate(0, 50%);
				}
				.slick-next{
					right: 10px;
					background: url('../images/object-mobile-arrNext.svg') center no-repeat;
				}
			}
			&-btn{
				top: calc(100% + 20px);
				right: 50%;
				transform: translateX(50%);
			}
		}
		&-form{
			padding: 0 10px;	
			&-content{
				&-right{
					&__title{
						font-size: 14px;
					}
					span{
						font-size: 10px;
					}
				}
			}
		}
	}
}