.pagenews{
	font-family: 'Roboto Condensed', sans-serif;
	&__subtitle{
		max-width: 1160px;
		margin: 0 auto;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		@include pad(bottom, red);
	}
	&__title{
		max-width: 1160px;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 36px;
		font-weight: normal;
		position: relative;
		@include pad(bottom, grey);
		
		&:before{
			content: '';
			width: 39px;
			height: 3px;
			background: #D9C892;
			position: absolute;
			left: -60px;
			top: 20px;
		}
	}
	&__banner{
		height: 550px;
		overflow: hidden;
		@include pad(bottom, blue);
		img{
			width: 100%;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&-content{
		width: 900px;
		margin: 0 auto 40px;
		&-info{
			display: flex;
			@include pad(bottom, blue);
			&-item{
				display: flex;
				align-items: center;
				margin-right: 90px;
				font-size: 12px;
				line-height: 14px;
				color: #171717;
				svg{
					margin-right: 10px;
				}
			}
		}
		&__subtitle{
			font-size: 24px;
			@include pad(bottom, blue);
		}
		&__text{
			font-weight: 300;
			font-size: 18px;
			line-height: 37px;
			letter-spacing: 0.02em;
			@include pad(bottom, grey);
		}
		&-slider{
			height: 556px;
			overflow: hidden;
			opacity: 0;
			transition: 0.3s;
			@include pad(bottom, grey);
			&.slick-initialized{
				opacity: 1;
			}
			&-item{
				display: flex;
				flex-direction: column;
				img{
					height: 518px;
					align-self: center;
					@include pad(bottom, red);
				}
			}
			&-wrap{
				position: relative;
			}
			&-nav{
				position: absolute;
				right: 0;
				bottom: 38px;
				display: flex;
				background: #FFFFFF;
				border: 1px solid #BEBEBE;
				&-arrPrev,
				&-arrNext{
					padding: 22px;
					transition: 0.3s;
					cursor: pointer;
					@media screen and (min-width: 1200px){
						&:hover{
							background: rgba(217, 200, 146, 0.2);
						}
					}
				}
				&-arrPrev{
					border-right: 1px solid #BEBEBE;
				}
			}
		}
		&-share{
			display: flex;
			&-item{
				margin-right: 20px;
				.ya-share2__link{
					transition: 0.3s;
				}
				@media screen and (min-width: 1200px){
					.ya-share2__item:hover{
						opacity: 1;
						.ya-share2__link{
							transform: translateY(-3px);
							box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
						}
					}
				}
				.ya-share2__icon:active{
					box-shadow: none;
				}
				.ya-share2__item_service_vkontakte .ya-share2__badge,
				.ya-share2__item_service_facebook .ya-share2__badge{
					background-color: #fff;
				}
				.ya-share2__container_size_m .ya-share2__icon{
					width: 155px;
					height: 46px;
				}
				.ya-share2__item_service_vkontakte .ya-share2__icon{
					background: url('../images/share-vk.jpg') center no-repeat;
				}
				.ya-share2__item_service_facebook .ya-share2__icon{
					background: url('../images/share-fb.jpg') center no-repeat;
				}
			}
		}
	}
	&-next{
		max-width: 1160px;
		margin: 0 auto 60px;
		position: relative;
		&__title{
			text-transform: uppercase;
			font-size: 36px;
			position: relative;
			@include pad(bottom, grey);
			&:before{
				content: '';
				width: 39px;
				height: 3px;
				background: #D9C892;
				position: absolute;
				left: -60px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&-content{
			max-height: 429px;
			display: flex;
			margin: 0 -20px;
			opacity: 0;
			animation: tadaa 0.5s normal forwards ease-in-out;
			animation-iteration-count: 1;
			animation-delay: 1s;
		}
	}
}

@include w1024{
	.pagenews{
		&__title{
			padding-left: 60px;
			font-size: 30px;
			&:before{
				left: 20px;
				width: 30px;
				height: 2px;
				top: 17px;
			}
		}
		&__subtitle{
			padding-left: 20px;
		}
		&-next{
			padding: 0 20px;
			&__title{
				padding-left: 40px;
				font-size: 30px;
				&:before{
					left: 0;
					width: 30px;
					height: 2px;
				}
			}
			&-content{
				margin: 0 -10px;
			}
		}
	}
}

@include w768{
	.pagenews{
		&__title{
			padding-left: 50px;
			font-size: 24px;
			margin-bottom: 20px;
			padding-right: 20px;
			&:before{
				width: 21px;
				top: 13px;
			}
		}
		&__subtitle{
			padding-left: 20px;
		}
		&__banner{
			height: 300px;
			margin-bottom: 20px;
		}
		&-content{
			width: 605px;
			&-info{
				margin-bottom: 20px;
			}
			&__subtitle{
				font-size: 18px;
			}
			&__text{
				font-size: 14px;
				line-height: 29px;
			}
			&-slider{
				height: 380px;
				&-item{
					 img{
						height: 341px;
					 }
				}
			}
			&-share-item .ya-share2__container_size_m .ya-share2__icon{
				width: 117px;
				height: 35px;
				background-size: contain;
			}
		}
		&-next{
			margin: 0 auto 30px;
			padding: 0 20px;
			&__title{
				padding-left: 30px;
				font-size: 24px;
				&:before{
					width: 21px;
				}
			}
			&-content{
				
			}
		}
	}
}

@include w480{
	.pagenews{
		&__title{
			padding-left: 20px;
			font-size: 18px;
			&:before{
				display: none;
			}
		}
		&__banner{
			height: 120px;
			margin-bottom: 10px;
		}
		&-content{
			width: 100%;
			padding: 0 20px;
			&-info{
				margin-bottom: 20px;
			}
			&__subtitle{
				font-size: 15px;
				margin-bottom: 20px;
			}
			&__text{
				margin-bottom: 20px;
			}
			&-slider{
				height: auto;
				margin-bottom: 20px;
				&-nav{
					display: none;
				}
				&-item{
					&__label{
						font-size: 9px;
					}
					 img{
						width: 100%;
						height: auto;
						margin-bottom: 10px;
					 }
				}
			}
		}
		&-next{
			margin: 0 auto 30px;
			padding: 0 20px;
			&__title{
				padding-left: 0;
				margin-bottom: 20px;
				&:before{
					display: none;
				}
			}
			&-content{
				max-height: 660px;
				flex-wrap: wrap;
				.news-rest-item{
					width: 50%;
					margin-bottom: 20px;
					padding: 0 10px;
				}
				.news-rest-item-bot__title{
					text-align: center;
				}
				.news-rest-item-bot__link{
					align-self: center;
				}
			}
		}
	}
}

@include w320{
	.pagenews{
		&__title{
			padding-left: 10px;
			font-size: 14px;
		}
		&__subtitle{
			font-size: 10px;
			padding-left: 10px;
		}
		&-content{
			padding: 0 10px;
			&-info{
				&-item{
					margin-right: 40px;
				}
			}
			&__subtitle{
				font-size: 12px;
			}
			&__text{
				font-size: 12px;
				line-height: 25px;
			}
		}
		&-next{
			margin: 0 auto 30px;
			padding: 0 20px;
			&__title{
				font-size: 14px;
			}
			&-content{
				margin: 0 -16px;
				.news-rest-item{
					padding: 0 5px;
				}
				.news-rest-item-info-item{
					font-size: 10px;
					margin-right: 25px;
				}
				.news-rest-item-bot__title{
					font-size: 10px;
					line-height: 12px;
				}
			}
		}
	}
}